@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

ol,ul,li, a{
    text-decoration: none;
    list-style: none;
    color: black;
}

.container{
    min-width: 1400px;
}




/* main */
main{
	margin-top: 150px;
    display: flex;
    justify-content: center;
}

#main{
    width: 1400px;

}

.main-header{
    display: flex;
    margin-top: 100px;
    padding-bottom: 50px;
    border-bottom: 3px solid black;

}

.main-header > h2{
    margin: 0 5px;
}

.main-header > a:nth-of-type(2){
    color : #4facfe;
}

.main-content{
    width: 100%;
    margin-top: 50px;
    min-height: 800px;
}

.notice-table{
    width: 100%;
}

.notice-table tr{
    display: flex;
    min-height: 70px;
}

.notice-table tr:nth-of-type(n){
    border-bottom: 1px solid #e7e7e7;
}
.notice-table tr:nth-of-type(1){
    background-color: #e7e7e7;
}

.notice-table td, .notice-table th{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 10px;
}

.table-head1, .table-data1{
    width: 15%;
}
.table-head2, .table-data2{
    width: 65%;
}
.table-head3, .table-data3{
    width: 20%;
}

.table-data2{
    margin-left: 50px;
}

.notice-table td:not(:nth-of-type(2)){
    font-size: 14px;
    color: #A9AFBE;
}
.table-hd:not(.table-data2){
    justify-content: center;
}

.page-number{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.page-ul{
    display: flex;
}

.page-ul > li{
    text-align: center;
    line-height: 28px;
    width: 30px;
    height: 30px;
}

.page-ul > li > a{
    display: block;
}

#write {
	position: fixed;
	right: 250px;
	bottom: 100px;
	text-align: center;
	cursor: pointer;
	font-size: 20px;
}

@media screen and (max-width: 1200px) {
	#write {
		right: 100px;
	}
}

@media screen and (max-width: 1100px) {
	#write {
		right: 50px;
	}
}

#write>i {
	color: #4facfe;
	font-size: 80px;
}
