@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color:#000;
}

.container{
    min-width: 1400px;
}

#main > div.ranking-wrap > div > div:nth-child > img{
	width: 250px;
	height: 250px;
}




/* main */

main{
    margin-top: 140px;
    display: flex;
    justify-content: center;
}

#main{
    width: 1400px;
}

#main > h2 {
    text-align: center;
    padding: 22.5px;
    border-bottom: 1px solid #e7e7e7;
}

.rank-point{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.btn-wrap{
    width: 400px;
    height: 40px;
    border: 1px solid #e7e7e7;
    border-radius: 30px;
    padding: 5px;
    position: relative;
}

.btn-wrap > a{
    display: inline-block;
    width: 50%;
    height: 28px;
    position: absolute;
    background-color: white;
    border: 0;
    border-radius: 30px;
    text-align: center;
    line-height: 26px;
    cursor: pointer;
}

.btn-wrap > a:nth-of-type(1){
    left: 0;
    margin-left: 5px;
    background-color: #4facfe;
    z-index: 1;
    color: white;
}
.btn-wrap > a:nth-of-type(2){
    right: 0;
    margin-right: 5px;
}

/* .btn-wrap > button:nth-of-type(1):hover{
    background-color: #4facfe;
    color: white;
    z-index: 1;

} */
/* .btn-wrap > button:nth-of-type(2):hover{
    background-color: #4facfe;
    color: white;
    z-index: 1;

} */

.ranking-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.ranking123{
    display: flex;
    justify-content: center;
    width: 1100px;
}

.ranking-list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px 0 50px;
}

.ranking-list:nth-of-type(1){
    width: 30%;
   padding-top: 30px;
}
.ranking-list:nth-of-type(3){
    width: 30%;
   padding-top: 30px;
}
.ranking-list:nth-of-type(2){
    width: 30%;
    padding-bottom: 30px;
}

.ranking-list > img{
    width: 80%;
    height : 80%;
    border-radius: 50%;
}

.ranking-list > p{
    margin-top: 15px;
    font-size: 11px;
    color: #989696;
}
.ranking-list strong{
    font-size: 16px;
    color: black;
}
.ranking-list span{
    color: #4facfe;
    font-size: 25px;
}

.ranking-wrap > table{
    margin-top: 100px;
    width: 1100px;
    border-collapse: collapse;
}
.else-ranking{
    height: 90px;
    padding: 5px;
    border-bottom: 1px solid #e7e7e7;
}

.else-ranking:nth-of-type(1){
    border-top: 1px solid #e7e7e7;
}

.else-ranking > td:nth-of-type(1){
    width: 10%;
    text-align: center;
}
.else-ranking > td:nth-of-type(2){
    width: 70%;
}
.else-ranking > td:nth-of-type(3){
    width: 20%;
    text-align: right;
}

.else-ranking > td{
    font-size: 14px;
    color: #989696;
}

.else-ranking strong{
    font-size: 16px;
    color: black;
}
.else-ranking span{
    color: #4facfe;
    font-size: 25px;
}






/* footer */

footer{
    height: 150px;
    margin-top: 50px;
    border-top: 1px solid rgb(190, 190, 190);
    display: flex;
    justify-content: center;
}

#footer{
    width: 1400px;
    padding: 20px 0 20px 0;
    font-size: 13px;
    color: #515358;
    display: flex;
}

.footer-text{
    width: 70%;
}

.footer-text > p{
    margin: 5px;
}

.footer-text strong{
    color: #161c23;
}

.footer-img{
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

.footer-img > a{
    margin-left: 10px;
    display: inline-block;
    height: 50px;
}

.footer-img > a > i{
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid rgb(190, 190, 190);
    color: rgb(190, 190, 190);
    border-radius: 50%;
    font-size: 30px;
    text-align: center;
    padding-top: 8px;
}