@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap'); 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif; 
}

ul, li, a{
    list-style: none;
    text-decoration: none;
}

label{
    cursor: pointer;
}


#container{
    width: 600px;
    margin: auto;
    margin-top: 200px;
   
}

#title-container{
    text-align: center;
}

.join-title{
    margin: 20px 0 20px;
    font-size: 15px;
}

.ps-box{
    display: block;
    width: 100%;
    height: 45px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
}

.ps-box > input {
    width: 100%;
    border: none;
    font-size: 15px;
    line-height: 22px;
    outline: none;
}

.email-box {
    width: 85%;
    display: inline-block;
}

#check-btn{
    height: 45px;
    width: 80px;
    background-color: #4facfe;
    color: white;
    border: none;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
}

.check{
    font-size: 12px;
    color: red;
    padding: 10px;
}

#signup-btn{
    background-color: #4facfe;
    color: white;
    height: 50px;
    width: 200px;
    line-height: 48px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    font-weight: 700;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}